:root {
    --dark: #1F2833;
    --accent: #7aee1f;
    --white: #f5f5f5;
    --background: #d7d7d7;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background);
}

a {
    text-decoration: none;
}

.badges {
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-pill {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10rem;
    width: 160px;
}

.badge-success {
    color: var(--dark);
    background-color: var(--accent);
}

.badge-rejected {
    color: var(--white);
    background-color: #f06161;
}

.badge-progress {
    color: var(--dark);
    background-color: #17a2b8;
}

.badge-waiting {
    color: var(--dark);
    background-color: #ffc107;
}

/* navbar.blade.php */
.navbar {
    background-color: var(--dark);
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 1000;
}

.nav-details {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-right: 50px;
}

.nav-details:hover {
    color: var(--accent);
}

.login-button {
    color: var(--dark);
    background-color: var(--accent);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #1F2833;
    border: 1px solid var(--accent);
    color: var(--accent);
    cursor: pointer;
}
/* End of navbar.blade.php */


/* footer.blade.php */
.footer {
    background-color: var(--dark);
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) -2.4px -2.4px 3.2px;
    z-index: 1000;
    color: var(--white);
}

.title, .socials {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title .subtitle, .socials .subtitle {
  font-size: 14px;
  opacity: .9;
}

.subtitle i {
  width: 20px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.social-links a {
  font-size: 14px;
  color: #fff;
}

.social-links a:hover {
  color: #f06161;
}
/* End of footer.blade.php */


/* boarding.blade.php */
.boarding-banner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.605),
        rgba(0, 0, 0, 0.605)
      ),
    url("/storage/Banner Boarding.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 200px;
}

.boarding-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 575px;
    background: var(--dark);
    opacity: .5;
}

.text-boarding-container {
    z-index: 1000;
}

.join-button {
    z-index: 1000;
    color: var(--dark);
    background-color: var(--accent);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.join-button:hover {
    background-color: #ffffff00;
    border: 1px solid var(--accent);
    color: var(--accent);
    cursor: pointer;
}

.about-stat {
     font-weight: bold;
     color: #4fa30f;
}

.view-all-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-games-button {
    color: var(--dark);
    background-color: var(--accent);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: 700px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.view-all-games-button:hover {
    background-color: var(--dark);
    color: var(--white);
    cursor: pointer;
}
/* End of boarding.blade.php */


/* home.blade.php */
.banner-container {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px;
    padding-left: 200px;
}

.banner-1-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.605),
        rgba(0, 0, 0, 0.605)
      ),
    url("/storage/Banner 1.png");
}

.banner-2-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.605),
        rgba(0, 0, 0, 0.605)
      ),
    url("/storage/Banner 2.jpg");
}

.banner-3-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.605),
        rgba(0, 0, 0, 0.605)
      ),
    url("/storage/Banner 3.jpg");
}

.games-card {
    border-radius: 0px;
    border: 0.5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.games-card:hover {
    box-shadow: none;
    border: 3px solid var(--accent);
}

.card-img-overlay {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.main-search-input {
    background: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
    border: 2px solid var(--accent);
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    outline: none;
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: var(--dark);
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    background-color: var(--accent);
    font-weight: bold;
}

.main-search-button:hover {
    color: var(--white);
}
/* End of home.blade.php */


/* gameDetail.blade.php */
.game-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px 20px 200px;
    background-color: var(--dark);
    counter-reset: list-number;
}

.game-detail-banner-container {
    position: relative;
}

.detail-image {
    height: 250px;
    width: 70vw;
    object-fit: cover;
    background-position: top;
}

.detail-icon {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    border: 10px solid var(--white);
    background-color: var(--white);
}

.form-game-container {
    background-color: var(--white);
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-game-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topup-part-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 60px;
}

.topup-part-container::before {
    display: flex;
    align-items: center;
    justify-content: center;
    counter-increment: list-number;
    content: counter(list-number);
    position: absolute;
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--dark);
    border-radius: 2px;
    font-weight: bold;
    color: var(--white);
}

.topup-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topup-type-button,.payment-type-button {
    color: var(--dark);
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 2px solid var(--accent);
}

.topup-type-button:hover,
.topup-type-button-selected,
.payment-type-button:hover,
.payment-type-button-selected{
    color: var(--dark);
    background-color: var(--accent);
    border: 2px solid var(--accent);
}

.price-topup {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--dark);
    width: 300px;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}

.buy-now-button {
    color: var(--dark);
    background-color: var(--accent);
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
}

.buy-now-button:hover {
    background-color: var(--dark);
    color: var(--white);
}
/* End of gameDetail.blade.php */


/* login.blade.php and register.blade.php */
.login-page-button {
    color: var(--dark);
    background-color: var(--accent);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    width: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.login-page-button:hover {
    background-color: var(--dark);
    color: var(--white);
}
/* End of login.blade.php and register.blade.php */


/* transaction.blade.php, history.blade.php, and manageTransaction.blade.php */
.transaction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-transaction{
    border: 3px solid var(--dark);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-bottom: 30px;
    color: var(--white);
    background-color: var(--dark);
}

.transaction-image {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid var(--white);
    margin-right: 30px;
}

.transaction-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
    text-align: right;
}

.detail-button {
    color: var(--dark);
    background-color: var(--accent);
    border: 3px solid var(--accent);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.detail-button:hover {
    color: var(--white);
    background-color: #ffffff00;
}

.remove-button {
    color: var(--dark);
    background-color: #f06161;
    border: 3px solid #f06161;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button:hover {
    color: var(--white);
    background-color: #ffffff00;
}

.no-data-image {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* End of transaction.blade.php, history.blade.php, and manageTransaction.blade.php */


/* transactionDetail.blade.php */
.transaction-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px 20px 200px;
    background-color: var(--dark);
}

.transaction-fill-container{
    background-color: var(--white);
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.transaction-detail-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 50px;
}

.transaction-detail-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 800px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.transaction-detail-data{
    font-size: 24px;
    margin: 0;
    color: var(--accent);
}

.transaction-detail-payment{
    width: 100%;
    height: 3rem;
}

.transaction-detail-due{
    margin-bottom: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    width: 400px;
    background-color: var(--dark);
    color: var(--white);
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note{
    background-color: var(--background);
    font-size: larger;
    border-radius: 20px;
}

.upload-payment-button{
    background-color: var(--dark);
    color: var(--background);
    text-decoration: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: large;
    width: 280px;
    align-items: center;
    text-align: center;
    font-weight: 700;
    border: solid 2pt var(--dark);
}

.upload-payment-button:hover{
    background-color: var(--white);
    color: var(--dark);
    border: solid 2pt var(--dark);
}

.cancel-payment-button{
    background-color: var(--white);
    color: var(--dark);
    text-decoration: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: large;
    width: 280px;
    align-items: center;
    text-align: center;
    font-weight: 700;
    border: solid 2pt var(--dark);
}

.cancel-payment-button:hover{
    background-color: var(--dark);
    color: var(--background);
    border: solid 2pt var(--dark);
}

/* historyDetail.blade.php */
.history-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px 20px 200px;
    background-color: var(--dark);
}

.history-fill-container{
    background-color: var(--white);
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.history-detail-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 50px;
}

.history-detail-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 800px; */
    width: 100%;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.history-detail-data{
    font-size: 24px;
    margin: 0;
    color: var(--accent);
}

.history-detail-payment{
    width: 100%;
    height: 3rem;
}
